.base {
  @apply inline-flex
  h-8
  cursor-pointer
      content-center
  items-center
      justify-center
      border-none
      pl-4
      pr-4
      text-sm
      outline-none
  dark:bg-dark;
}

.primary {
  composes: base;
  @apply rounded bg-gray-800 text-white;
}

.secondary {
  composes: base;
  @apply rounded border border-solid border-gray-300 bg-white dark:border-dark-line;
}

.blank {
  composes: base;
  @apply h-auto
    bg-transparent
    pl-0
    pr-0;
}

.disabled {
  @apply pointer-events-none opacity-50;
}
