.Udu6yxXNAw2wiYHcCkxp {
    display: flex;
    flex-direction: column
}
  .Udu6yxXNAw2wiYHcCkxp .b34Cp04_t9qyotfpwaEw {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}
  .Udu6yxXNAw2wiYHcCkxp .iLbXplUrNoA6yC3Ij5cA {
    display: flex;
    justify-content: flex-end
}

.Fn_NUQLkCOXsRPxiH1Mm {
    width: 2rem;
    padding: 0px
}
  .Fn_NUQLkCOXsRPxiH1Mm:hover svg {
    fill: currentColor;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.SaBxbWlCJasQyDQpT6Sw {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .SaBxbWlCJasQyDQpT6Sw .k6YMG5GNLGeeju5qUmNQ {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .SaBxbWlCJasQyDQpT6Sw .k6YMG5GNLGeeju5qUmNQ:first-child {
    margin-right: 1rem
}

.EBoNextEA3Qissmj96dg {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .EBoNextEA3Qissmj96dg .lFdYuErcPPvOrcvkQ_qr {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .EBoNextEA3Qissmj96dg .lFdYuErcPPvOrcvkQ_qr:first-child {
    margin-right: 1rem
}

.qc0j8qlJrLZCU2O9RosZ ._Q_MjOo3GU3F8qKQ9unB {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
    .qc0j8qlJrLZCU2O9RosZ ._Q_MjOo3GU3F8qKQ9unB .Y_sTMjn3xzjL5Yi0lfbw {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
    .qc0j8qlJrLZCU2O9RosZ ._Q_MjOo3GU3F8qKQ9unB .Y_sTMjn3xzjL5Yi0lfbw:first-child {
    margin-right: 1rem
}
  .qc0j8qlJrLZCU2O9RosZ .Ij9xQkzOZs3uu_xlCXAq {
    width: 8rem
}

.jHD4NfXRB7_joiKIrapz {

    margin-bottom: 0.5rem;

    margin-top: 0.5rem;

    display: flex
}

.jHD4NfXRB7_joiKIrapz .jiZBXuixW_xp1_uozKBe {

    margin-right: 0.5rem;

    width: 16rem
}

.AMzp8jrflwznFpTiNM0F {

    display: flex;

    height: 2rem;

    align-items: center
}

.AMzp8jrflwznFpTiNM0F .eQTdR8ivlM3pRizJOjf6 {

    margin-right: 1rem;

    display: flex;

    align-items: center;

    justify-content: center
}

.lz8hAFMnw7ec0d3i_7Sg {
    margin-right: 1rem;
    cursor: pointer
}

.Gc8PPCFelr5RdihkBQG9 {

    display: flex;

    height: 100%;

    width: 100%;

    align-items: center;

    justify-content: flex-end;

    border-bottom-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(220, 221, 222, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem
}

.dark .Gc8PPCFelr5RdihkBQG9 {

    --tw-border-opacity: 1;

    border-color: rgba(45, 52, 54, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}

  .Gc8PPCFelr5RdihkBQG9 .Pxv6kA6NLwKWYIchoqmN {

    margin-right: 2rem;

    width: 9rem
}

  .Gc8PPCFelr5RdihkBQG9 .t4XhkwkD25jmnZ5Lpit7 {

    margin-left: 1rem;

    margin-right: 1rem
}

  .Gc8PPCFelr5RdihkBQG9 .qYMwXJUCEJtzDcFpJWVQ {

    margin-right: 2rem
}

.makDUtZ7nLl5YwLZ_81d {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column
}
.dark .makDUtZ7nLl5YwLZ_81d {
    --tw-bg-opacity: 1;
    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}
  .makDUtZ7nLl5YwLZ_81d .rHoRQy73BKWNrkFngo76 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4rem;
    width: 100%
}
  .makDUtZ7nLl5YwLZ_81d .aAnpLd7JizxJyCv19aWV {
    height: 100%;
    width: 100%;
    padding-top: 4rem
}

._TBifi4dkudWb4MUgm4j {
    display: flex;
    height: 100%;
    flex-direction: column;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 1rem;
    vertical-align: baseline
}

.BDqzxjTLYTHStHMvmNmI {
                position: relative;
                margin-bottom: 0px;
                display: flex;
                height: -webkit-fit-content;
                height: -moz-fit-content;
                height: fit-content;
                border-bottom-width: 1px;
                --tw-border-opacity: 1;
                border-color: rgba(220, 221, 222, var(--tw-border-opacity));
                --tw-bg-opacity: 1;
                background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
                padding-top: 0.5rem;
                padding-bottom: 0.5rem;
                padding-left: 1rem;
                padding-right: 1rem;
                font-size: 0.75rem;
                line-height: 1rem
}

    .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI {
                position: relative;
                display: flex;
                width: 100%;
                cursor: pointer;
                align-content: center;
                justify-content: space-between;
                --tw-text-opacity: 1;
                color: rgba(0, 0, 0, var(--tw-text-opacity))
}

    .dark .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI {
                --tw-border-opacity: 1;
                border-color: rgba(45, 52, 54, var(--tw-border-opacity));
                --tw-bg-opacity: 1;
                background-color: rgba(26, 28, 30, var(--tw-bg-opacity));
                --tw-text-opacity: 1;
                color: rgba(252, 252, 252, var(--tw-text-opacity))
}

    .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI .fh7g3GBT4vJMenzh5jW1 {
                display: flex;
                width: 100%;
                flex-direction: column
}

    .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI .fh7g3GBT4vJMenzh5jW1 .nitftQKt7tDMzoThVThE {
                margin-bottom: 0.125rem;
                overflow: hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                word-wrap: break-word
}

    .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI .fh7g3GBT4vJMenzh5jW1 .zoQOAH9PoHt3wZZs50KA {
                margin-right: 0.5rem;
                font-size: 0.75rem;
                line-height: 1rem;
                --tw-text-opacity: 1;
                color: rgba(75, 85, 99, var(--tw-text-opacity));
                opacity: 0.8
}

    .dark .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI .fh7g3GBT4vJMenzh5jW1 .zoQOAH9PoHt3wZZs50KA {
                --tw-text-opacity: 1;
                color: rgba(252, 252, 252, var(--tw-text-opacity))
}

    .BDqzxjTLYTHStHMvmNmI .Pku3MhLwKXP8B09ssLhI .Qz25ryfV2M6JRobSdAxP {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 1rem
}

    .BDqzxjTLYTHStHMvmNmI .afMYl5EvPaoqhV1GDRCb {
                display: flex
}

    .BDqzxjTLYTHStHMvmNmI .afMYl5EvPaoqhV1GDRCb .GjErTTRcbaE0O4QUgiXu {
                margin-top: auto;
                margin-bottom: auto;
                margin-right: 1rem
}

    .BDqzxjTLYTHStHMvmNmI .afMYl5EvPaoqhV1GDRCb .lYrpMrjF0PH7IFULtHhQ {
                margin-top: auto;
                margin-bottom: auto;
                display: inline-block
}

    .BDqzxjTLYTHStHMvmNmI .afMYl5EvPaoqhV1GDRCb .lYrpMrjF0PH7IFULtHhQ:hover {
                opacity: 0.8
}

.B_lwM5S6on_QZjJtWFf7 {

    --tw-text-opacity: 1;

    color: rgba(239, 68, 68, var(--tw-text-opacity))
}

.CiO2Ztcm3IxAaKhLhrAA {

    --tw-text-opacity: 1;

    color: rgba(234, 179, 8, var(--tw-text-opacity))
}

.hFAcns3Z9iWsUoqjgUrg {

    --tw-text-opacity: 1;

    color: rgba(34, 197, 94, var(--tw-text-opacity))
}

@-webkit-keyframes c9KBAYnOrZ6ojplykr_I {

    to {

        transform: rotate(360deg)
    }
}

@keyframes c9KBAYnOrZ6ojplykr_I {

    to {

        transform: rotate(360deg)
    }
}

.Wig5XehzyXCQ0qjNTuPG {

    -webkit-animation: c9KBAYnOrZ6ojplykr_I 1s linear infinite;

            animation: c9KBAYnOrZ6ojplykr_I 1s linear infinite
}

.dY96wPEsmrbJ5I9qiBbR {
    display: flex;
    justify-content: center
}

.NrZ2zb8qyzrYyf9bFMK9:hover svg {
    fill: currentColor;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

