.WTDuUtr5_3BFlalSHCqs .s76FCWrzxtq18t9pJdta {
    display: inline-block;
    min-width: 32px;
    font-size: 1.5rem;
    line-height: 2rem
}
  .WTDuUtr5_3BFlalSHCqs .DE4APrAnsvTdCrejWEjn {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem
}

.cY4tMVARqRRZHW1HeNcp {

    display: flex;

    flex: 1 1 0%;

    justify-content: space-between;

    padding-left: 1rem;

    padding-right: 1rem
}

    .cY4tMVARqRRZHW1HeNcp .okihlzTidowH4RI_5pRy {

    display: flex;

    flex: 1 1 0%;

    flex-direction: column;

    justify-content: space-between
}

    .cY4tMVARqRRZHW1HeNcp .okihlzTidowH4RI_5pRy .oFLs3DNaEOExmlAhjIgp {

    margin-bottom: 0.5rem;

    display: flex;

    justify-content: space-between;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

    .cY4tMVARqRRZHW1HeNcp .okihlzTidowH4RI_5pRy .TQioIeIkNlUsTgdEW7DP {

    display: flex;

    flex-direction: column;

    justify-content: space-between;

    font-size: 1.25rem;

    line-height: 1.75rem
}

    .cY4tMVARqRRZHW1HeNcp .okihlzTidowH4RI_5pRy .TQioIeIkNlUsTgdEW7DP .QKHLrH_707z9bcE2uwAh {

    display: flex;

    flex: 1 1 0%;

    align-items: center
}

    .cY4tMVARqRRZHW1HeNcp .okihlzTidowH4RI_5pRy .TQioIeIkNlUsTgdEW7DP .QKHLrH_707z9bcE2uwAh svg {

    position: relative;

    bottom: -0.25rem;

    margin-right: 0.25rem;

    --tw-scale-x: .75;

    --tw-scale-y: .75;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    fill: currentColor;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

.z4S8s6jIiqyIDf8rBtwM {

    display: flex;

    width: 100%;

    flex: 1 1 0%;

    flex-direction: column;

    padding: 1rem
}

  .z4S8s6jIiqyIDf8rBtwM:not(:last-child) {

    margin-bottom: 1rem
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 {

    margin-bottom: 1rem;

    display: flex;

    justify-content: space-between
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .uNYxu6biRLbcmxDdYF6b {

    margin-left: 1rem;

    margin-right: 1rem;

    border-width: 0px;

    border-right-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgba(209, 213, 219, var(--tw-border-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .FO9We8uCXUnCFA8rlMJa {

    flex: 1 1 0%
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .FO9We8uCXUnCFA8rlMJa .zUbsa0wFSygvJqMQiAQ2 {

    margin-bottom: 0.5rem;

    display: flex;

    align-items: center;

    font-size: 1.125rem;

    line-height: 1.75rem
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .FO9We8uCXUnCFA8rlMJa .zUbsa0wFSygvJqMQiAQ2 .msJbjrJgf9cwyv_pjmVg {

    font-weight: 700
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z {

    display: flex;

    width: 100%;

    justify-content: space-between
}

  .z4S8s6jIiqyIDf8rBtwM .Snic_869FL_E7iNGGLLh {

    height: 50%;

    width: 100%
}

.boXa8Cm6mewdGlVEAh1v {
    display: flex;
    height: 100%;
    width: 100%;
    flex-direction: column;
    overflow: auto;
    padding-left: 1rem;
    padding-right: 1rem
}

