.TjdJt6vBTjQ08WQUpFND {
    display: flex;
    height: 100%;
    flex: 1 1 0%;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding-top: 2rem;
    padding-bottom: 2rem
}
  .TjdJt6vBTjQ08WQUpFND .d9cqNTfsMFj2fdaBXkx6 {
    display: flex;
    flex-direction: column;
    padding-top: 0.5rem
}
  .TjdJt6vBTjQ08WQUpFND .EOY6zKKPi0CJkzs_KAZR {
    margin-top: 1rem;
    display: block
}

