.ebLK7cxSVnNCI3PQyquj {
    display: flex;
    flex-direction: column
}
  .ebLK7cxSVnNCI3PQyquj .aT_orDrnf7YK2xjaQil6 {
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}
  .ebLK7cxSVnNCI3PQyquj .KWVl0L0jKFqAgmvNR9vb {
    display: flex;
    justify-content: flex-end
}

.Fn_NUQLkCOXsRPxiH1Mm {
    width: 2rem;
    padding: 0px
}
  .Fn_NUQLkCOXsRPxiH1Mm:hover svg {
    fill: currentColor;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

.QlMnMn9UAfavOFPqZrAi {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
  .QlMnMn9UAfavOFPqZrAi .MuKjtftNY9ztnXDqcJ8a {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
  .QlMnMn9UAfavOFPqZrAi .MuKjtftNY9ztnXDqcJ8a:first-child {
    margin-right: 1rem
}

.fsQjdR7Qw8dmsp8FVrvG .n2wsynaxCESqyErl67wd {
    margin-top: 1.5rem;
    display: flex;
    justify-content: flex-end
}
    .fsQjdR7Qw8dmsp8FVrvG .n2wsynaxCESqyErl67wd .tbPXJE7qG49NQrO5pcXQ {
    margin-bottom: 0.5rem;
    margin-top: 0.25rem;
    border-radius: 0.25rem
}
    .fsQjdR7Qw8dmsp8FVrvG .n2wsynaxCESqyErl67wd .tbPXJE7qG49NQrO5pcXQ:first-child {
    margin-right: 1rem
}
  .fsQjdR7Qw8dmsp8FVrvG .XQ3eAcQdYdmRNADiUJFu {
    width: 8rem
}

.lz8hAFMnw7ec0d3i_7Sg {
    margin-right: 1rem;
    cursor: pointer
}

.Gc8PPCFelr5RdihkBQG9 {

    display: flex;

    height: 100%;

    width: 100%;

    align-items: center;

    justify-content: flex-end;

    border-bottom-width: 1px;

    --tw-border-opacity: 1;

    border-color: rgba(220, 221, 222, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem
}

.dark .Gc8PPCFelr5RdihkBQG9 {

    --tw-border-opacity: 1;

    border-color: rgba(45, 52, 54, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}

  .Gc8PPCFelr5RdihkBQG9 .Pxv6kA6NLwKWYIchoqmN {

    margin-right: 2rem;

    width: 7rem
}

  .Gc8PPCFelr5RdihkBQG9 .t4XhkwkD25jmnZ5Lpit7 {

    margin-left: 1rem;

    margin-right: 1rem
}

  .Gc8PPCFelr5RdihkBQG9 .qYMwXJUCEJtzDcFpJWVQ {

    margin-right: 2rem
}

.makDUtZ7nLl5YwLZ_81d {
    position: relative;
    display: flex;
    width: 100%;
    flex-direction: column
}
.dark .makDUtZ7nLl5YwLZ_81d {
    --tw-bg-opacity: 1;
    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}
  .makDUtZ7nLl5YwLZ_81d .rHoRQy73BKWNrkFngo76 {
    position: absolute;
    top: 0px;
    left: 0px;
    height: 4rem;
    width: 100%
}
  .makDUtZ7nLl5YwLZ_81d .aAnpLd7JizxJyCv19aWV {
    height: 100%;
    width: 100%;
    padding-top: 4rem
}

._TBifi4dkudWb4MUgm4j {
    display: flex;
    height: 100%;
    flex-wrap: wrap;
    align-content: flex-start;
    overflow: auto;
    padding-bottom: 1rem;
    vertical-align: baseline
}

.BDqzxjTLYTHStHMvmNmI {
        position: relative;
        margin: 1rem;
        margin-bottom: 0px;
        height: -webkit-fit-content;
        height: -moz-fit-content;
        height: fit-content;
        font-size: 0.875rem;
        line-height: 1.25rem
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ {
        position: relative;
        display: flex;
        height: 6rem;
        width: 10rem;
        cursor: pointer;
        align-content: center;
        justify-content: space-between;
        border-radius: 0.25rem;
        border-width: 1px;
        --tw-border-opacity: 1;
        border-color: rgba(220, 221, 222, var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
        padding-top: 1rem;
        padding-bottom: 1rem;
        padding-left: 0.5rem;
        padding-right: 0.5rem;
        font-size: 0.75rem;
        line-height: 1rem;
        --tw-text-opacity: 1;
        color: rgba(0, 0, 0, var(--tw-text-opacity))
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ:active {
        --tw-scale-x: 1.02;
        --tw-scale-y: 1.02;
        transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y))
}
  .dark .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ {
        --tw-border-opacity: 1;
        border-color: rgba(45, 52, 54, var(--tw-border-opacity));
        --tw-bg-opacity: 1;
        background-color: rgba(26, 28, 30, var(--tw-bg-opacity));
        --tw-text-opacity: 1;
        color: rgba(252, 252, 252, var(--tw-text-opacity))
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .fh7g3GBT4vJMenzh5jW1 {
        display: flex;
        width: 100%;
        flex-direction: column;
        align-items: center;
        justify-content: center
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .fh7g3GBT4vJMenzh5jW1 .nitftQKt7tDMzoThVThE {
        margin-bottom: 0.125rem;
        overflow: hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        word-wrap: break-word
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .Qz25ryfV2M6JRobSdAxP {
        position: absolute;
        top: 0.5rem;
        left: 0.5rem
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .GjErTTRcbaE0O4QUgiXu {
        position: absolute;
        left: 0.5rem;
        bottom: 0.5rem
}
  .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .zoQOAH9PoHt3wZZs50KA {
        position: absolute;
        bottom: 0.5rem;
        right: 0.5rem;
        font-size: 0.75rem;
        line-height: 1rem;
        --tw-text-opacity: 1;
        color: rgba(75, 85, 99, var(--tw-text-opacity));
        opacity: 0.8
}
  .dark .BDqzxjTLYTHStHMvmNmI .mZncV2hoJ8gAfVYT7DsQ .zoQOAH9PoHt3wZZs50KA {
        --tw-text-opacity: 1;
        color: rgba(252, 252, 252, var(--tw-text-opacity))
}
  .BDqzxjTLYTHStHMvmNmI .lYrpMrjF0PH7IFULtHhQ {
        position: absolute;
        top: 0.25rem;
        right: 0.5rem;
        z-index: 10;
        display: inline-block;
        border-radius: 0.125rem
}
  .BDqzxjTLYTHStHMvmNmI .lYrpMrjF0PH7IFULtHhQ:hover {
        --tw-bg-opacity: 1;
        background-color: rgba(229, 231, 235, var(--tw-bg-opacity))
}

.B_lwM5S6on_QZjJtWFf7 {

    --tw-text-opacity: 1;

    color: rgba(239, 68, 68, var(--tw-text-opacity))
}

.CiO2Ztcm3IxAaKhLhrAA {

    --tw-text-opacity: 1;

    color: rgba(234, 179, 8, var(--tw-text-opacity))
}

.hFAcns3Z9iWsUoqjgUrg {

    --tw-text-opacity: 1;

    color: rgba(59, 130, 246, var(--tw-text-opacity))
}

@-webkit-keyframes c9KBAYnOrZ6ojplykr_I {

    to {

        transform: rotate(360deg)
    }
}

@keyframes c9KBAYnOrZ6ojplykr_I {

    to {

        transform: rotate(360deg)
    }
}

.Wig5XehzyXCQ0qjNTuPG {

    -webkit-animation: c9KBAYnOrZ6ojplykr_I 1s linear infinite;

            animation: c9KBAYnOrZ6ojplykr_I 1s linear infinite
}

.dY96wPEsmrbJ5I9qiBbR {
    display: flex;
    justify-content: center
}

.NrZ2zb8qyzrYyf9bFMK9:hover svg {
    fill: currentColor;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}

