.TjdJt6vBTjQ08WQUpFND {
    padding-left: 1rem;
    padding-right: 1rem;
    padding-top: 2rem;
    padding-bottom: 2rem
}
  .TjdJt6vBTjQ08WQUpFND .NBImCJQx6QJgtv3pGw5P {
    font-size: 1.125rem;
    line-height: 1.75rem;
    font-weight: 500
}
  .TjdJt6vBTjQ08WQUpFND .d9cqNTfsMFj2fdaBXkx6 {
    padding-top: 0.5rem;
    --tw-text-opacity: 1;
    color: rgba(107, 114, 128, var(--tw-text-opacity))
}
  .TjdJt6vBTjQ08WQUpFND .d9cqNTfsMFj2fdaBXkx6 .oJz7d3XaUIrz36UZfdG7 {
    cursor: pointer
}
  .TjdJt6vBTjQ08WQUpFND .x1CGPHyqfuscShI0u4N8 {
    margin-left: 0.25rem
}

