.uWBL3VP9ZIt5OvmOheJq {
    width: 100%
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC {
    position: relative;
    height: 100%;
    padding-top: 1rem;
    padding-bottom: 1rem;
    padding-left: 2rem;
    padding-right: 2rem
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .w85JHPr2FKEjjjcGpTNM {
    width: 100%
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .w85JHPr2FKEjjjcGpTNM .LL6ZdOrOCKOvqt48ApmC:not(:last-child) {
    margin-bottom: 1rem
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .w85JHPr2FKEjjjcGpTNM .LL6ZdOrOCKOvqt48ApmC .qSoUdGdoenhEPLkcS997 {
    display: flex;
    align-items: center;
    vertical-align: middle
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .w85JHPr2FKEjjjcGpTNM .LL6ZdOrOCKOvqt48ApmC .qSoUdGdoenhEPLkcS997 .ZFupGIwFl1fv76JCDDxg {
    margin-right: 0.25rem
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .F5YEObsgXMGFluYGKY07 {
    position: absolute;
    bottom: 0px;
    left: 0px;
    display: flex;
    width: 100%;
    --tw-bg-opacity: 1;
    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));
    padding-left: 2rem;
    padding-right: 2rem;
    padding-top: 0.5rem;
    padding-bottom: 0.5rem;
    --tw-shadow: 0 1px 3px 0 rgba(0, 0, 0, 0.1), 0 1px 2px -1px rgba(0, 0, 0, 0.1);
    --tw-shadow-colored: 0 1px 3px 0 var(--tw-shadow-color), 0 1px 2px -1px var(--tw-shadow-color);
    box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
    box-shadow: 0 0 rgba(0,0,0,0), 0 0 rgba(0,0,0,0), var(--tw-shadow);
    box-shadow: var(--tw-ring-offset-shadow, 0 0 rgba(0,0,0,0)), var(--tw-ring-shadow, 0 0 rgba(0,0,0,0)), var(--tw-shadow)
}
  .dark .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .F5YEObsgXMGFluYGKY07 {
    --tw-bg-opacity: 1;
    background-color: rgba(23, 23, 23, var(--tw-bg-opacity))
}
  .uWBL3VP9ZIt5OvmOheJq .iTAfe2SpwPMwUh2vpJqC .F5YEObsgXMGFluYGKY07 .qtptFzaxonR6wdP1lqZn {
    margin-right: 1rem
}

