.z4S8s6jIiqyIDf8rBtwM {

    display: flex;

    width: 100%;

    flex-direction: column;

    border-radius: 0.5rem;

    border-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgba(220, 221, 222, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(255, 255, 255, var(--tw-bg-opacity));

    padding: 1rem
}

.dark .z4S8s6jIiqyIDf8rBtwM {

    --tw-border-opacity: 1;

    border-color: rgba(45, 52, 54, var(--tw-border-opacity));

    --tw-bg-opacity: 1;

    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM:not(:last-child) {

    margin-bottom: 1rem
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 {

    margin-bottom: 1rem;

    display: flex
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .zUbsa0wFSygvJqMQiAQ2 {

    display: flex;

    align-items: center
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .zUbsa0wFSygvJqMQiAQ2 .msJbjrJgf9cwyv_pjmVg {

    border-radius: 9999px;

    --tw-bg-opacity: 1;

    background-color: rgba(243, 244, 246, var(--tw-bg-opacity));

    padding: 0.5rem
}

  .dark .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .zUbsa0wFSygvJqMQiAQ2 .msJbjrJgf9cwyv_pjmVg {

    --tw-bg-opacity: 1;

    background-color: rgba(23, 23, 23, var(--tw-bg-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z {

    display: flex;

    width: 100%;

    justify-content: space-between
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz {

    display: flex;

    flex: 1 1 0%;

    flex-direction: column;

    justify-content: space-between;

    padding-left: 1rem;

    padding-right: 1rem
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz:not(:last-child) {

    border-width: 0px;

    border-right-width: 1px;

    border-style: solid;

    --tw-border-opacity: 1;

    border-color: rgba(209, 213, 219, var(--tw-border-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz .S4n_y3jUYBUxA6OVIHRw {

    margin-bottom: 0.5rem;

    display: flex;

    justify-content: space-between;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz .vcud7SglcOjHAKf3K8P_ {

    display: flex;

    justify-content: space-between;

    font-size: 1.25rem;

    line-height: 1.75rem
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz .vcud7SglcOjHAKf3K8P_ .q31gkOLNCkBALk8NkJb5 {

    display: flex;

    flex: 1 1 0%;

    align-items: center
}

  .z4S8s6jIiqyIDf8rBtwM .MfIBCWbDt2IsJ2ToWxQ6 .T3r04grQ27CxlsxX0f0Z .PEOeiOlksHX8UigbjTlz .vcud7SglcOjHAKf3K8P_ .q31gkOLNCkBALk8NkJb5 svg {

    position: relative;

    bottom: -0.25rem;

    margin-right: 0.25rem;

    --tw-scale-x: .75;

    --tw-scale-y: .75;

    transform: translate(var(--tw-translate-x), var(--tw-translate-y)) rotate(var(--tw-rotate)) skewX(var(--tw-skew-x)) skewY(var(--tw-skew-y)) scaleX(var(--tw-scale-x)) scaleY(var(--tw-scale-y));

    fill: currentColor;

    --tw-text-opacity: 1;

    color: rgba(156, 163, 175, var(--tw-text-opacity))
}

  .z4S8s6jIiqyIDf8rBtwM .Snic_869FL_E7iNGGLLh {

    height: 8rem;

    width: 100%
}

.WTDuUtr5_3BFlalSHCqs .s76FCWrzxtq18t9pJdta {
    display: inline-block;
    min-width: 32px;
    font-size: 1.5rem;
    line-height: 2rem
}
  .WTDuUtr5_3BFlalSHCqs .DE4APrAnsvTdCrejWEjn {
    margin-left: 0.25rem;
    font-size: 0.875rem;
    line-height: 1.25rem
}

.boXa8Cm6mewdGlVEAh1v {
    width: 100%;
    overflow: auto;
    padding: 1rem
}
.dark .boXa8Cm6mewdGlVEAh1v {
    --tw-bg-opacity: 1;
    background-color: rgba(26, 28, 30, var(--tw-bg-opacity))
}

