.uWBL3VP9ZIt5OvmOheJq {

    width: 100%;

    padding-top: 0.5rem;

    padding-bottom: 0.5rem
}

    .uWBL3VP9ZIt5OvmOheJq .O5DPrTElYSU6i1MihbK3 {

    margin-bottom: 1.5rem
}

    .uWBL3VP9ZIt5OvmOheJq .O5DPrTElYSU6i1MihbK3 .cGlrYUbTojkXVctQYMDA {

    margin-bottom: 1rem;

    display: flex;

    width: 100%;

    align-items: center;

    justify-content: space-between
}

    .uWBL3VP9ZIt5OvmOheJq .O5DPrTElYSU6i1MihbK3 .cGlrYUbTojkXVctQYMDA .ZFupGIwFl1fv76JCDDxg {

    display: flex;

    flex-direction: column
}


.K3SMsU8g5AKDlfOX0XWP {

    display: flex;

    flex-direction: column
}
