.wrapper {
  @apply relative m-4 mb-0 h-fit text-sm;
  & .content {
    @apply relative
    flex
    h-24
    w-40
    cursor-pointer
    content-center
    justify-between
    rounded
    border
    border-light-line
    bg-white
    pt-4
    pb-4
    pl-2
    pr-2
    text-xs
    text-black
    active:scale-[1.02]
    dark:border-dark-line
    dark:bg-dark
    dark:text-dark-font;

    & .info {
      @apply flex w-full flex-col items-center justify-center;
      & .name {
        @apply mb-0.5 overflow-hidden;
        display: -webkit-box;
        -webkit-box-orient: vertical;
        -webkit-line-clamp: 2;
        overflow-wrap: break-word;
      }
    }

    & .dot {
      @apply absolute
      top-2
      left-2;
    }
    & .delayTag {
      @apply absolute left-2 bottom-2;
    }
    & .typeTag {
      @apply absolute bottom-2 right-2 text-xs text-gray-600 opacity-80 dark:text-dark-font;
    }
  }
  & .actionButton {
    @apply absolute
    top-1
    right-2
    z-10
    inline-block
    rounded-sm
    hover:bg-gray-200;
  }
}
