.wrapper {
    @apply relative mb-0 h-fit flex text-xs
    border-b
    border-light-line
    bg-white
    py-2
    px-4;

    & .left {
        @apply relative
        flex
        w-full
        cursor-pointer
        content-center
        justify-between
        text-black
        dark:border-dark-line
        dark:bg-dark
        dark:text-dark-font;

        & .info {
            @apply flex w-full flex-col;

            & .name {
                @apply mb-0.5 overflow-hidden;
                display: -webkit-box;
                -webkit-box-orient: vertical;
                -webkit-line-clamp: 2;
                overflow-wrap: break-word;
            }

            & .typeTag {
                @apply text-xs text-gray-600 opacity-80 dark:text-dark-font mr-2;
            }
        }

        & .dot {
            @apply
            my-auto
            mr-4;
        }


    }

    & .right {
        @apply flex;

        & .delayTag {
            @apply mr-4 my-auto;
        }

        & .actionButton {
            @apply
            my-auto
            inline-block
            hover:opacity-80;
        }
    }
}
