.wrapper {
  @apply flex m-auto flex-col border-light-line border bg-light dark:bg-dark dark:text-white dark:border-dark-line
    dark:text-dark-font
  ;
  width: 768px;
  height: 600px;

  & .header {
    @apply h-8 bg-white flex-shrink-0 border-b items-center pl-2 flex z-20 dark:bg-dark dark:border-dark-line;
    -webkit-app-region: drag;
  }
  & .body {
    @apply flex flex-1 shadow;
    height: calc(100% - 2rem);
  }
}

.nav {
  @apply flex w-40 flex-col flex-shrink-0 relative bg-white border-r border-light-line dark:bg-dark dark:border-dark-line
}

.themeSwitch{
  @apply mx-2 py-8 border-t border-light-line dark:border-dark-line;
}

.content {
  @apply flex flex-1 overflow-auto dark:bg-dark;
}
