.wrapper {
  @apply flex m-auto flex-col shadow-xl border-light-line border bg-light dark:bg-dark dark:text-white;
  width: 768px;
  height: 600px;

  & .header {
    @apply h-8 bg-white flex-shrink-0 shadow border-b items-center pl-2 flex z-20;
    -webkit-app-region: drag;
  }
  & .body {
    @apply flex flex-1 shadow;
    height: calc(100% - 2rem);
  }
}

.nav {
  @apply flex w-40 flex-col flex-shrink-0 relative bg-white border-r border-light-line dark:bg-dark;
}

.content {
  @apply flex flex-1 overflow-auto dark:bg-dark;
}
