.message {
  @apply
  z-50
  text-black
  text-sm
  bg-white
  py-2
  px-4
  rounded-md
  flex
  mx-auto
  mt-4
  mb-0
  shadow-lg
  border-light-line
  border
  bg-light
  pointer-events-auto
  text-light-font
  dark:bg-dark
  dark:border-dark-line
  dark:text-dark-font
  ;

  & .popup {
    @apply flex items-center content-center select-text;
  }
}

.iconContainer {
  @apply flex mr-1;
  & .icon {
    @apply fill-current m-auto;
  }
  & .error {
    @apply text-red-600;
  }
  & .info {
    @apply text-green-600;
  }
  & .success {
    @apply text-blue-600;
  }
  & .warning {
    @apply text-yellow-600;
  }
}

.close {
  @apply bg-white my-auto mx-2 p-0 h-fit;
  &:hover {
    @apply bg-gray-300;
  }
}
