.wrapper {
  @apply h-full w-full flex-col pt-8;
  -webkit-app-region: drag;
  & .navItem {
    -webkit-app-region: no-drag;
    @apply block flex flex items-center py-4 pl-6 text-light-unselected;
    & svg {
      @apply fill-current text-light-unselected dark:text-dark-unselected;
    }
    & .text {
      @apply ml-2;
    }
  }
  & .activeNavItem {
    @apply border-0 border-l-4 border-solid border-black border-light-highlight pl-5 font-bold text-light-font
    dark:border-dark-highlight dark:bg-dark dark:text-dark-font;
    & svg {
      @apply text-light-font dark:text-dark-font;
    }
  }
}
